@import './Variables';
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background: $background;
  max-width: 1800px;
}

.App {
  width: 80%;
  margin: 0 auto;
}

.btn {
  border: none;
  height: 40px;
  width: 100%;
  border-radius: 10px;
  background: $btnColor;
  color: white;
  font-size: 18px;
  cursor: pointer;
  
  &:hover {
    background-color: $btnColorHover;
  }
}

.btn-task {
  height: 100%;
  width: 50px;
  cursor: pointer;
  color: white;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}